.heading
{
    text-align: center;
}
.footer
{
    text-align: center;
    font-weight: bold;
}
.small-image
{
    width: 50%;
}
.menu
{
    list-style-type: none;
}
.header
{
    font-family: 'Franklin Gothic Medium';
    background-color: black;
    color: white;
}
.navigation
{
    background-color: grey;
    color: white;
    font-size: 20px;
}
.page-content
{
    padding: 20px;

}