            #container
            {
                display: flex;
                flex-wrap: wrap;
            }
            .header
            {
                flex-basis: 100%;
                flex-grow: 1;
                flex-shrink: 0;
                color: white;
                font-size: 100px;
                text-align: center;
                background-color: blue;
            }
            .navigation
            {
                flex-basis: 20%;
                flex-grow: 1;
                flex-shrink: 0;
                color: blue;
                font-size: 40px;
            }
            .content
            {
                flex-basis: 80%;
                flex-grow: 1;
                flex-shrink: 0;
                font-size: 28px;
            }
            a
            {
                text-decoration: none;
                color: blue;
            }
            a:hover
            {
                color: purple;
            }