<!DOCTYPE html>
<html>
    <head>
        <title>CSS styles</title>
        <style>
            .circle
            {
                color: blue;
                box-shadow: 10px 10px 10px blue;
                background-image: url('https://scx2.b-cdn.net/gfx/news/hires/2015/samsungtv.jpg');
                border: solid blue 2px;
                background-repeat: no-repeat;
                background-size: 300px;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                margin: 20px;
                padding: 80px 60px 80px 60px;
                background-position: center;
            }
            .rectangle
            {
                color: deepskyblue;
                box-shadow: 10px 10px 10px deepskyblue;
                background-image: url('https://www.picclickimg.com/d/l400/pict/123079411437_/4-X-Bose-Speaker-Stands-Used-Black-For.jpg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border: 2px solid deepskyblue;
                width: 300px;
                height: 300px;
                margin: 20px;
                padding: 20px;
            }
            .box
            {
                color: gray;
                box-shadow: 10px 10px 10px gray;
                background-image: url('https://www.macworld.co.uk/cmsdata/reviews/3659879/MacbookAir11_lifestyle_15_thumb800.jpg');
                border: 2px solid gray;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 300px;
                border-radius: 10px;
                width: 300px;
                height: 300px;
                margin: 20px;
                padding: 20px;
            }
            .square
            {
                color: goldenrod;
                box-shadow: 10px 10px 10px goldenrod;
                max-width: 500px;
                background-image: url('https://www.91-img.com/pictures/123553-v1-sony-xperia-xz2-mobile-phone-large-1.jpg');
                border: 2px solid goldenrod;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 200px;
                border-radius: 50px;
                width: 300px;
                height: 300px;
                margin: 20px;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>CSS styles</h1>
        <div class="circle">
            The brand of the TV is Samsung.
        </div>
        <br>
        <div class="rectangle">
            The brand of the Audio Return Channel speaker is Bose.
        </div>
        <br>
        <div class="box">
            The brand of the laptop is Apple. 
        </div>
        <div class="square">
            The brand of the phone is Sony. 
        </div>
    </body>
</html>